.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: 5px;

  .task-container {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .contents {
      display: flex;
      width: 70%;
      justify-content: space-between;
      align-items: center;

      .status {
        width: 5%;
      }

      .task-title {
        width: 90%;

        .editTask {
          width: 80%;
          height: 70%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .editTitle {
            width: 90%;
            font-size: 15px;
            padding: 5px;
            border: 0.5px solid #b4b2ad;
            border-radius: 5px;
          }
        }
      }
      .strike {
        opacity: 0.7;
        text-decoration: line-through;
      }
    }
    .icons {
      display: flex;
      width: 25%;

      .delete,
      .edit,
      .subtask {
        background-color: #eee;
        padding: 10px;
        border: none;
        border-radius: 5px;
        height: 20px;
        width: 20px;
        margin: 10px;
      }
    }
  }

  .subtask-container {
    width: 80%;
    background-color: #fafafade;
    border: 0.5px solid rgb(236, 234, 234);
    border-radius: 10px;
    padding: 5px 10px;

    .add-subtask {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px;
      width: 100%;

      .subtask-wrapper {
        width: 95%;
        .subtask-title {
          width: 90%;
          height: 20px;
          border: 0.5px solid #eeecee;
          border-radius: 5px;
        }
      }

      svg {
        height: 20px;
        width: 20px;
      }
    }
  }
}
